<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-9" />
    <add key="mainForm.Location.Y" value="-9" />
    <add key="mainForm.Width" value="1938" />
    <add key="mainForm.Height" value="1048" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAIt4kZrda3vbg6HouZPatkQmBiBoYJRxnqmWDGYz7JVxtp3Q9EIGzDnwv2fjQUYwU/iRk34wVL28uHNybRJEfZCks/lbCLtBUsL5vCRU/KqE8+0UqLiwpDMAsP96/HgAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANu1LSm71/a2BwNDg6vbmcMsDGDQ4Pr6ResLGTD7wH/WyH2MMHFH0dfcMDYA3svcbTwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANu1LSm71/a2BwPDOye3M4dZGMDgndPrF60vZMDsA/9ZI/cxwsQdRV9zw9gAUZ5XizwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANu1LSm71/a2B8OECle3M4dZGEAAyH79ovWFDJhz4D9r5D5GmLij6GtuGBsAth0O7TwAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANu1LSm71/a2B8MHSwe3M4dZGEAAyH54sPWFDJhz4D9/wz5GmLij6GtuGBsAKbxt1TwAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="" />
    <add key="/nvidiagpu/0/load/2/values" value="" />
    <add key="/nvidiagpu/0/load/1/values" value="" />
    <add key="/nvidiagpu/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/clock/2/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEALuWJZ7da3vbg4HhiGMJRxITAxSobECwixUvvJABsw78TzEpZoSInnBcI4lQkzejkxPGBgBXfcqLVAAAAA==" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAKsQ2pDda3vbg22NhaPC/kQmBiDwmW7h2P02CczmmWrhOLm/+bkMiMNw4H/96f1gcW5rQcePqhA1j3UEHSWUIOxGLUHHeUUQtp+qoONBWwj7srKg46p3ELaViqAjAH1v/3Z4AAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAKsQ2pDda3vbY8/nSU4K+xOZGIDA7vEkp+63SWB2ycNJTpP7m5/LgDgMB/7Xn94PFjdUSnf6qApRs4o73UlCCcK+x57uNK8Iwp7xP83poC2Ebfs3zWnVOwj7IZANAFOWv5J4AAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEADOUyszutb3twbCAx+H+1kQmBhBIyHKYp5YMYTdYOyyLq38hA+Yc+C/z+AgjmAlU7xCcCFcj87KTE8YGAJ5i0lVUAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEALuWJZ7da3vbI8/omG0JRxITAxCovmy2UdkAYV/412/D8VL8hQyIw3Dg//kcbbB48xNPhzWSEDUF7GEOPnkQdtLTAIcl6yDsKZNCHc6lQ9jWc0IdNghD2Fs/hzoAAB7BXmZ4AAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEALuWJZ7da3vb48XJWMcSjiQmBiCYstfPUWUDhG16KtSR46X4CxkQh+HA//M52mBxBp1exzWSEDVine2OPnkQtpR8l+OSdRC2W3eH47l0CJtlSafjBmEIe8+mDkcAl3MKpXgAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALuWJZ7da3vbQ/hwu2MJRxITAxCssm5yVNkAYU/Y1+rI8VL8hQyIw3Dg//kcbbD4rD9HHddIQtQ8Sj7k6JMHYS/mPeK4ZB2ErcJz2PFcOoRt9+ew4wZhCDtS87AjANsPQBd4AAAA" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEALuWJZ7da3vbQ0Kx0bWEI4mJAQiKq5pdVTZA2O98u105Xoq/kAFxGA78P5+jDRbPEOtxXSMJUTOttcvVJw/CfvSlw3XJOgh70b0e13PpELYHUP0GYYSZAMNT0QF4AAAA" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEAPsmI57da3vbY+qXDtcyjiQmBiBovhzvqrUBwl5wr8f1gZnECxkQh+HA/0ty2mDxYxMiXbmkIGoeA/Xy5UHYQflhrovWQdi8DDWul9MhbJu9na7rhSHsqa1drgCSVakUeAAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAJM8L5bda3vbw0anw7WSI4mJAQh+L5N3/bMewn78pcP1RYvECxkQh+HAf7GLWmBxD4YI13OSEDVGKe2uGnkQ9pTWLtdl6yDsjsvxrqvSIewLTnGuG4Qh7AX3elwBGQKVUXgAAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEALNuFMvutb3tsckpztWUK4mJAQgefelwTVsHYU9t7XJdcEnihQyIw3Dg/8EWLbB47N5OVzcJiJr3vt2uunkQ9hSg+rlQvSqbYlwL0iFsd7EeV0ERhJkAqtoQXHgAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAIs3Fsvutb3tseylqqsmVxITAxDY7O10LVoHYb/z7XatUZB8IQPiMBz432SsBRZfrRjtOkcaoubxlw5X4TwI+w1Q/SGo3umtXa4CaRD2Bac410BRhJkAR9ZbOHgAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAIt+Kprda3vbo2pjjKsTRxITAxC4i/W41m+AsBfc63GNypN8IQPiMBz4v/ypJlj80b0K16XSEDXvfbtdWfMg7JD8Ktdj6yBsL6A5fGkQtu3eTtdCUYT5AKHEVn54AAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFsyXTS71/a2xyanONdU1iQmBiB459vtaroZwm6+HO9qsUfyhQyIw3Dg//HpmmBxN4YI1xXSEDVPvnS4auRB2FNau1yXroOwW4B6v6ZC2NOA4h2iCPMBXZI1X3gAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADvhKZrda3vbw7m1yzWFNYmJAQgW3OtxNdsMYZdUqbuKcEm9kAFxGA78f+WpCRYPSml3bZGGqOFkuOHinwdhN1yOd52/DsLmBYoLpEHYJimJroWiELYxkA0AJ+Fo0HgAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEALuWJZ7da3vbY1bECacSjiQmBiAQjDzhpLIBwhYCsjleir+QAXEYDvw/n6MNFncAiq+RRKjxyYOwBYDsJesgbBEg+1w6Qs0GYQQbABTeEVJ4AAAA" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDt1MUaxITAxiUON3dBGOXOv0wlHohA2Yf+F+upAkRb5jolCMNU9PhpJcHY3c5HVoHY/c4/UuFshu6nJpEEWoAUJ0/angAAAA=" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAPvyWyS71/a2B0NDm1MUaxITAxjkON3dBGPnOv0wlHohA2Yf+F/4WwMiDlRf5ART0+iklwdjNzsdWgdjNzn9S4WyGxqdmkQRagDddi34eAAAAA==" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDgVMUaxITAxikON3dBGMnOf0wlHohA2Yf+F/4WwMq3uBU5ARTU+eklwdj1zodWocQ/5cKYzc6NYkmwfUCAPSBtNV4AAAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAPvyWyS71/a2B0NDs1MUaxITAxgkO93dBGOnOf0wlHohA2Yf+F/4WwMq3uRU5ARTU+OklwdjVzkdWgdj1zn9S4Wx652aRGHsBicA+BHeBXgAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDsVMUaxITAxikO93dBGNnOv0wlHohA2Yf+F/4WwMi3tDmVOQEU1PnZOUOY9c7bbsKZTc0OP1LRbCbRGFqmpwA2xw/5ngAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDjVMUaxITAxjkOt3dBGMXOf0wlHohA2Yf+F/4WwMi3tDqVOQEU9PoZOUOZTc0OG27imD/S4Wxm5yaRBHqAZIzljJ4AAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDiVMUaxITAxikO93dBGNnOP0wlHohA2Yf+F/4WwMq3u1U5ARV09DqZOWOYG+7CmN3Ov1LhZnT4dQkCmO3OwEAWI761HgAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDkVMUaxITAxhkOt3dBGMXOP0wlHohA2Yf+F/4WwMi3tDiVOQEU1PrZOUOY9c5bbsKZTc0OP1LRahpEkWoAQDvP93YeAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPvyWyS71/a2BwNDo1MUaxITAxjkOJl2ItgLoqVeyIDZB/4X/taAik9wKnKCqmlocrJyh7EbnbZdhbGbnf6lItQ0iSLEAer7e3x4AAAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAPvyWyS71/a2hxr3afso1iQmBhBo4HQw7YSwQzgf2v/+KPpCBixx4L9Yqi5Y/OU8a4ciJ6h6hl/2Vu4QtsLpKvttV2Hi6+3/pULYezKm2TeJIswHACVXn8x4AAAA" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAPvyWyS71/a2xwL/ZIco1iQmBiBQUc53MO2EsJdf7nf4/VH0hQyIw3Dgv1iqLli8d8kMhyIniJqir7sdrNwh7EX+Jx22XYWwt5mdcPiXCmGL5a5zaBKFsLeoz3UAAOqJKIZ4AAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAPvyWyS71/a2x5PZcfZRrElMDGBQZW/aCWE7lB2zMz8t+kIGLH7g/61uXbC4WIqmQ5ETVH1DroOVO4T9ParZYdtVCHtaqr7Dv1QI+4SRvkOTKMz8E/YAoZoMyHgAAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAPvyWyS71/a2R5Iit30UaxITAxh42Jl2wtgMDOanRV/IgFkH/t/q1gWLm5SIOhQ5QdQonBazt3KHsB3Kjtltuwphq5dV2P9LhZkjZt8kCmNX2QMAKnK39XgAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAPvyWyS71/a2x5PZ9+yiWJOYGICgQcfbzrQTwnZg87A3Py36QgbEYTjw/1a3Llg8RIPVocgJooahgdPByh3KZqiy33YVwq68WGX/LxXCFrE+bt8kilADAL0kxY14AAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAPvyWyS71/a2h07KAYco1iQmBjDwsDPthLC75iY4mJ8WfSEDFj/w/1a3Llhc3izGscgJqn4Bj6OVO4T9L0DGcdtVCNvrtJDjv1QIOylC3rFJFMIWWarqCAC+vGZHeAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPvyWyS71/a2h17KZPso1iQmBjCYZm/aCWGfOJfgYH5a9IUMWPzA/1vdumDxprk99kVOMPViDlbuUPaBfodtVyHsCXOn2v9LhauxbxKFsEWsH9gDADN9gDN4AAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAPt9RSS71/a2h+/Dl47BOklMDECgMuWlo2knhJ10fJej+WnRFzIgDsOB/7e6dcHib31eORY5QdQwBNxxtHKHsQ87brsKYZddeuL4LxXCfhPy1rFJFMKuWvfGEQCeBKoaeAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAPvyWyS71/a2x+nOtQ5RrElMDEBQ6D7dwbQTwrbTmu5gflr0hQyIw3Dg/61uXbB42fLXDkVOEDV3Tl52sHKHsFevPOuw7SqE7cZ91uFfKoRdc++cQ5MohO3Pf9EBAMjJl754AAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAKsQ2pDda3vbQyWk1UFhfyITAxDMqG116H6bBGZLNLU6TO5vfi4D4jAc+F9/ej9YXMrsisNHVYiarKArDhJKELZe+BWHeUUQ9pTEKw4HbSHsrpQrDqveQdh7kq84AAAFIrmTeAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEALuWJZ7da3vbgwEIZuw4wsIABRwvxV/IgFkH/p/P0WaCiUttes0NYwMA66PZYzwAAAA=" />
  </appSettings>
</configuration>